@body-font-family:    'Source Sans Pro';

/* Specify a simple complementary colour scheme keyed to a single primary colour. */
@primary:             spin(desaturate(#0066ff, 60%), 0);

@primary-light:       mix(@primary, white, 80%);
@primary-lighter:     mix(@primary-light, white, 80%);
@primary-lightest:    mix(@primary-lighter, white, 80%);
@primary-dark:        mix(@primary, black, 80%);
@primary-darker:      mix(@primary-dark, black, 80%);
@primary-darkest:     mix(@primary-darker, black, 80%);

@secondary:           spin(@primary, 120);

@secondary-light:     mix(@secondary, white, 80%);
@secondary-lighter:   mix(@secondary-light, white, 80%);
@secondary-lightest:  mix(@secondary-lighter, white, 80%);
@secondary-dark:      mix(@secondary, black, 80%);
@secondary-darker:    mix(@secondary-dark, black, 80%);
@secondary-darkest:   mix(@secondary-darker, black, 80%);

@tertiary:            spin(@primary, -120);

@tertiary-light:      mix(@tertiary, white, 80%);
@tertiary-lighter:    mix(@tertiary-light, white, 80%);
@tertiary-lightest:   mix(@tertiary-lighter, white, 80%);
@tertiary-dark:       mix(@tertiary, black, 80%);
@tertiary-darker:     mix(@tertiary-dark, black, 80%);
@tertiary-darkest:    mix(@tertiary-darker, black, 80%);

@section-bg:            mix(@primary, white, 5%);
@section-highlight-bg:  mix(@primary, white, 10%);
@body-bg:             @section-bg;
@heading-bg:          mix(@primary, white, 15%);

@body-font-color:     mix(@primary, black, 5%);

/* A selection of font-sizes for the document. */
@body-font-size:    12pt;
@font-scale:        14/12;
@small-font-size:   @body-font-size / @font-scale;
@smaller-font-size: @small-font-size / @font-scale;
@large-font-size:   @font-scale * @body-font-size;
@larger-font-size:  @font-scale * @large-font-size;
@huge-font-size:    @font-scale * @larger-font-size;
@heading-font-size: @font-scale * @huge-font-size;

/* Basic element colours. */
body { background-color: @body-bg; color: @body-font-color; }
a { color: inherit; border-bottom: 1px @tertiary dotted; }
a:hover { color: @tertiary-dark; text-decoration: inherit; }
section { background-color: @section-bg; }
section:nth-child(odd) { background-color: @section-highlight-bg; }
header { background-color: @heading-bg; }
h1 { color: @secondary-darker; }
h2 { color: @primary-darker; }
h3 { color: @secondary-darker; }
.role, .date { color: @tertiary-darker; }

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

/* A little subtle rounding of the header and sections where supported */
section, header { .border-radius(5px); }

/* Top-level layout. */
.content { margin: 15px auto; }
section, header { margin-bottom: 10px; padding: 5px 15px; }
h1, h2, h3 { margin-bottom: 5px; }
.role, .date { min-height: 0 !important; margin-bottom: 5px; }

/* There are only two fonts used in the CV: a body text and a special heading font. */
body { font: normal normal 300 @body-font-size @body-font-family, sans-serif; }
h1, h2, h3, h4 { font: normal normal 300 @body-font-size @body-font-family, sans-serif; }
.role, { font-weight: normal; font-size: @body-font-size; }

/* Headings have special font sizes. */
h1 { font-size: @huge-font-size; }
h2 { font-size: @huge-font-size; }
h3 { font-size: @large-font-size; }

/* Specific styling within the header. */
header h1 { font-size: @heading-font-size; margin: 0; }
.subtitle { display: block; font-size: @huge-font-size; color: @primary-darker; margin-bottom: 5px; }
.author-icon { float: left; margin: 8px 10px 0 0; }
.author-icon img { .border-radius(5px); }
.contact-information { margin-top: 5px; margin-bottom: 5px; }

/* Misc. stylying for the job role, date and description entries. */
.date { text-align: right; }
.description { text-align: justify; margin-bottom: 10px; }

/* Styling for the contact and social media information pane. */
.contact-information { margin-left: auto; }
.contact-type { text-align: center; padding-right: 2px; }
.contact-type .icon { margin-top: 2px; }
.contact-type abbr { border: none; cursor: inherit; }
.icon-gplus { background-image: url(img/fav/gplus.png); background-position: top left; width: 16px; height: 16px; }
.icon-github { background-image: url(img/fav/github.png); background-position: top left; width: 16px; height: 16px; }
.accessibility-label { display: none; }

/* Small screen specialisation */
@media screen and (max-width: 767px) {
  .contact-information { margin-left: 0px; }
  .date { text-align: left; font-size: @small-font-size; }
  section, header { padding: 7px 15px; }
  h2 { font-size: @large-font-size; }
  h3 { font-size: @body-font-size; }
}

/* Print media specialisation */
@media print {
  body { color: black; }
  a { color: inherit; text-decoration: none; }
  section, header { border: none; }
  section, header { padding: 10px 0px; }
  h2 { font-size: @large-font-size; }
  .role { float: left !important; }
  .role, .date { margin-bottom: 5px; color: black; }
  .accessibility-label { display: inline; }
  .contact-type { text-align: right; padding-right: 2px; }
  .heading { float: left; }
  .heading h1 { margin: 0; padding: 0; }
}

/* vim:filetype=css:tw=120
 */
