/* Specify a simple complementary colour scheme keyed to a single primary colour. */
@primary:           spin(desaturate(#FFC500, 60%), 0);

@primary-light:     mix(@primary, white, 80%);
@primary-lighter:   mix(@primary-light, white, 80%);
@primary-dark:      mix(@primary, black, 80%);
@primary-darker:    mix(@primary-dark, black, 80%);

@secondary:         spin(@primary, 180);

@secondary-light:   mix(@secondary, white, 80%);
@secondary-lighter: mix(@secondary-light, white, 80%);
@secondary-dark:    mix(@secondary, black, 80%);
@secondary-darker:  mix(@secondary-dark, black, 80%);

@section-bg:        mix(@primary, white, 1%);
@body-bg:           @section-bg;
@heading-bg:        mix(@primary, white, 15%);

@body-font-color:   lighten(black, 2%);

/* A selection of font-sizes for the document. */
@body-font-size:    14px;
@small-font-size:   (5/6) * @body-font-size;
@smaller-font-size: (5/6) * @small-font-size;
@large-font-size:   (6/5) * @body-font-size;
@larger-font-size:  (6/5) * @large-font-size;
@huge-font-size:    (6/5) * @larger-font-size;
@heading-font-size: (6/5) * @huge-font-size;

/* Basic element colours. */
body { background-color: @body-bg; color: @body-font-color; }
a { color: @secondary-dark; }
a:hover { color: @secondary; text-decoration: inherit; }
section { background-color: @section-bg; }
header { background-color: @heading-bg; }
h1 { color: @secondary-dark; }
h2 { color: @primary-darker; }
.date { color: mix(@body-font-color, @section-bg, 60%); }

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

/* A little subtle rounding of the header where supported */
header { .border-radius(7px); }

/* Top-level layout. */
.content { margin: 15px auto; }
section, header { margin-bottom: 10px; }
header { padding: 10px 20px; }
h1, h2 { margin-bottom: 5px; }
.role, .date { min-height: 0 !important; margin-bottom: 5px; }

/* There are only two fonts used in the CV: a body text and a special heading font. */
body { font: normal normal 300 @body-font-size 'Source Sans Pro', sans-serif; }
h1, h2, h3, h4 { font: normal normal 300 @body-font-size 'Source Sans Pro', sans-serif; }
.role, { font-weight: normal; font-size: @body-font-size; }

/* Headings have special font sizes. */
h1 { font-size: @huge-font-size; }
h2 { font-size: @huge-font-size; }

/* Specific styling within the header. */
header h1 { font-size: @heading-font-size; margin: 0; }
.subtitle { display: block; font-size: @huge-font-size; color: @primary-light; margin-bottom: 5px; }

/* Misc. stylying for the job role, date and description entries. */
.date { text-align: right; }
.description { text-align: justify; margin-bottom: 10px; }

/* Styling for the contact and social media information pane. */
.contact-information { margin-left: auto; }
.contact-type { text-align: center; padding-right: 2px; }
.contact-type .icon { margin-top: 2px; }
.contact-type abbr { border: none; cursor: inherit; }
.icon-gplus { background-image: url(img/fav/gplus.png); background-position: top left; width: 16px; height: 16px; }
.icon-github { background-image: url(img/fav/github.png); background-position: top left; width: 16px; height: 16px; }
.accessibility-label { display: none; }

/* Small screen specialisation */
@media screen and (max-width: 767px) {
  .contact-information { margin-left: 0px; }
  .date { text-align: left; font-size: @small-font-size; }
  section, header { padding: 7px 15px; }
  h2 { font-size: @large-font-size; }
}

/* Print media specialisation */
@media print {
  body { color: black; }
  a { color: inherit; text-decoration: none; }
  section, header { border: none; }
  section, header { padding: 10px 0px; }
  h2 { font-size: @large-font-size; }
  .role { float: left !important; }
  .role, .date { margin-bottom: 5px; color: black; }
  .accessibility-label { display: inline; }
  .contact-type { text-align: right; padding-right: 2px; }
  .heading { float: left; }
  .heading h1 { margin: 0; padding: 0; }
}

/* vim:filetype=css:tw=120
 */
